main {
    max-width: 1200px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 4%;
}

main img {
    max-width: 200px;
    border-radius: 8px;
    border: 1px solid rgba(255, 166, 0, 0.379);
    box-shadow: 0pc 0px 2px #8057003b;
}

.search {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #pesquisa-menu {
    display: flex;
    margin-top: 50px;
    align-items: center;
}

main #pesquisa-menu input {
    padding: 13px 100px;
    border-radius: 20px;
    border: 2px solid #ccc;
    border-radius: 50px;
    background-color: #fff;
}

main #pesquisa-menu button {
    border: 2px solid #ccc;
    border-radius: 49%;
    margin: 0 0 0 5px;
    padding: 10px;
}

main #pesquisa-menu button:hover {
    cursor: pointer;
    transform: scale(1.04);
}

main nav {
    margin-top: 20px;
}

main nav ul {
    display: flex;
}

main nav ul li {
    color: #b57908;
    list-style-type: none;
    margin: 0 5px;
    font-weight: 400;
}

main nav ul li:hover {
    color: black;
    transform: scale(1.03);
    cursor: pointer;
    border-bottom: 2px solid orange;
}

.recentes, .populares {
    background-color: white;
    border-radius: 10px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 5px;
    gap: 15px;
}

.recentes::-webkit-scrollbar, .populares::-webkit-scrollbar, .tudo::-webkit-scrollbar {
    display: none; /* Ocultar a barra de rolagem */
}

.cards #h2-recentes, .cards #h2-populares, .cards #h2-tudo {
    margin-top: 30px;
}

.cards .descricao {
    padding: 0 15px 10px 15px;
}

.cards .descricao p {
    margin-top: 6px;
}

.cards .tudo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cards .tudo .card {
    margin: 10px;
}

.mais-opcoes {
    margin: 20px auto;
    color: orange;
    border-bottom: 1px solid orange;
    width: 34px;
}

.mais-opcoes:hover {
    transform: scale(1.04);
    cursor: pointer;
}

main .distribuidores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main .distribuidores img {
    width: 100px;
    margin: 10px 0;
    border-radius: 50%;
}

main .distribuidores div {
    text-align: center;
    margin: 5px;
}

main #h2-distribuidores {
    margin: 40px 0;
    text-align: center;
}


@media (max-width: 970px) {
    .cards .tudo {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 750px) {
    .cards .tudo {
        grid-template-columns: repeat(2, 1fr);
    }

    header img {
        display: none;
    }

    header {
        width: 100%;
    }
}
@media (max-width: 476px) {
    .cards .tudo {
        grid-template-columns: repeat(1, 1fr);
    }
    
    main #pesquisa-menu input {
        padding: 13px 70px;
    }
    
    main #pesquisa-menu button {
        padding: 10px;
    }

    main .distribuidores img {
        width: 70px;
    }
}

@media (max-width: 390px) {
    main #pesquisa-menu input {
        padding: 13px 50px;
    }
    
    main #pesquisa-menu button {
        padding: 10px;
    }

    main .distribuidores img {
        width: 50px;
    }
}